.wrapper {
    z-index: 10;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

//
.container {
}

//
.origin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
